@use '../base' as *;

// =================================
//   FOOTER
// =================================

.footer {
  background-color: $bg-section;
  padding: 1rem 3rem;

  &__credits {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__link {
    text-decoration: none;
    color: $text-primary;
    font-weight: 600;
    transition: color 0.25s ease;

    &:focus-visible {
      outline: 2px solid $text-accent;
      outline-offset: 4px;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        color: $text-accent;
      }
    }
  }

  &__text {
    @include text-footer();
    text-align: center;
    margin: 0;
  }
}
