@use '../base' as *;
@use '../mdb/mdb-overrides' as mdb;

// =================================
//   NAVBAR
// =================================

.navbar {
  position: fixed;
  z-index: 2;
  background-color: $bg-surface;
  padding: 0.5rem 0 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 
    0 2px 4px rgba(0, 0, 0, 0.05);

  .navbar-toggler {
    color: $primary;
    padding: 1rem;
  }

  .navbar-brand {
    padding: 1rem;
    position: relative;
  }

  .navbar-title {
    @include title(1.5rem);
    color: $text-accent;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .navbar-nav {
    padding: 0;
  }

  .nav-item {
    padding: 0;
    margin: 0 3rem 0 0;
    text-align: center;
  }

  .nav-link {
    @include subtitle(1.25rem);
    padding: 1rem;
    position: relative;
  }

  @media (hover: hover) {
    .navbar-brand::after,
    .nav-link::after {
      content: '';
      @include nav-item-border(
        $bg-color: $primary,
        $width: 0px,
        $left: 50%
      );
    }

    .navbar-brand:hover::after,
    .nav-link:hover::after {
      width: 100%;
      left: 0;
    }
  }

  @include mdb.media-breakpoint-down(lg) {
    .navbar-brand {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-item {
        margin: 0;
    }
  }
}
