@use '../base/' as *;

// =================================
//   TEAMS
// =================================

.teams-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include media-breakpoint-down(sm) {
    gap: 3.5rem;
  }
}
