@use 'sass:color';
@use '../base/' as *;

// =================================
//   TOURNAMENT FORMAT
// =================================

.tournament-format {
  &__panel {
    height: 100%;
    padding: 1.5rem;

    background-color: $bg-surface;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .04);
  }

  &__title {
    @include subtitle();
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;

    padding: 0.5rem 1rem;
  }

  &__item-icon {
    flex-shrink: 0;

    font-size: 1rem;
    color: color.scale($text-secondary, $lightness: 15%);
    
    margin-top: 0.25rem;
  }

  &__item-text {
    @include text();
  }
}
