$utilities: (
  "transform": (
    property: transform,
    values: (
      0: rotate(0deg),
      10: rotate(10deg),
      30: rotate(30deg),
      45: rotate(45deg),
      90: rotate(90deg),
      180: rotate(180deg),
    )
  )
);
