@use 'sass:color';

// =================================
//   COLORS
// =================================

// Background Colors
$bg-page: #fbfbfb;
$bg-surface: #ffffff;
$bg-section: #f5f5f5;
$bg-brand: #651fff;
$bg-accent: #e1f5fe;

$bg-brand-hover: color.scale($bg-brand, $lightness: -10%);
$bg-brand-active: color.scale($bg-brand, $lightness: -15%);
$bg-accent-hover: color.scale($bg-accent, $lightness: -10%);
$bg-accent-active: color.scale($bg-accent, $lightness: -15%);

// Text colors
$text-primary: #332d2d;
$text-secondary: #4b5563;
$text-muted: #6b7280;
$text-white: #ffffff;
$text-accent: #6200ea;

// =================================
//   TYPOGRAPHY CONFIG
// =================================

$font: "Inter", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;

$font-title: $font;
$font-text: $font;

// =================================
//   TYPOGRAPHY SCALE
// =================================

// Default size
$fs-base: 1rem;

// Font sizes
$fs-sm: 0.875rem;
$fs-md: 1rem;
$fs-lg: 1.25rem;
$fs-xl: 1.5rem;
$fs-2xl: 2rem;
$fs-3xl: 3rem;
$fs-4xl: 4rem;

// =================================
//   LAYOUT
// =================================

// Navbar
$navbar-height: 71.2px;
$navbar-mobile-height: 60px;
