@use '../base/' as *;

// =================================
//   KNOCKOUT STAGE
// =================================

.knockout-stage-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
